@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #4A1C23;
    --secondary-color: #D4A017;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-1: 1.5rem;
    --font-size-x1: 2rem;
    --font-size-xx1: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

html{
    scroll-behavior: smooth;
}

ul{ list-style: none; }
a{ text-decoration: none; }
button{ cursor: pointer; border: none; background: none; }
img{ width: 100%; }

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-x1);
}
.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* NAVBAR */
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-x1);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/* HERO */
.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xx1);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-x1);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us:hover{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}

/* ABOUT */
.about-section{
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details{
    max-width: 50%;
    text-align: center;
}

.about-section .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    font-size: var(--font-size-m);
}

.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-1);
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover{
    color: var(--secondary-color);
}

/* MENU */
.menu-section{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-around;
}

.menu-section .menu-list .menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);
}

/* CONTACT */
.contact-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.contact-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-m);
}

.contact-section .contact-form{
    max-width: 50%;
}

.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}

.contact-section .contact-form textarea{
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button{
    margin-top: 10px;
    padding: 10px 26px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover{
    color: var(--primary-color);
    background: transparent;
}

/* FOOTER */
.footer-section{
    padding: 20px 0;
    background: var(--dark-color);
}

.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link{
    font-size: var(--font-size-1);
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list .social-link:hover{
    color: var(--secondary-color);
}

.footer-section .policy-text .policy-link{
    color: var(--white-color);
}

.footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color);
}

.footer-section .policy-text .separator{
    margin: 0 5px;
    color: var(--white-color);
}

/* ORDER PAGE */
.order-section {
    padding: 80px 20px;
    background: var(--light-pink-color);
    display: flex;
    justify-content: center;
}
#section-title2{
    margin-top: 50px;
}

.order-form {
    background: var(--white-color);
    padding: 40px;
    border-radius: var(--border-radius-m);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}

.order-form .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.order-form .input-box label {
    font-weight: var(--font-weight-semibold);
    margin-bottom: 6px;
    color: var(--primary-color);
}

.order-form .input-box input,
.order-form .input-box textarea {
    padding: 12px;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
    outline: none;
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.order-form .input-box input:focus,
.order-form .input-box textarea:focus {
    border-color: var(--secondary-color);
}

.order-form textarea {
    resize: vertical;
    min-height: 100px;
}

.order-form .submit-button {
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: var(--font-weight-semibold);
    padding: 12px 26px;
    border-radius: var(--border-radius-m);
    border: 1px solid var(--primary-color);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.order-form .submit-button:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
}


@media screen and (max-width: 900px){
    .order-form{ padding: 30px; }
}

@media screen and (max-width: 640px){
    .order-form{ padding: 20px; }
}





